<div class="page-container service-page ">
    <div class="big-text">You don't have any services scheduled</div>
    <p class="mid-text">Sign up to one of our plans to have full coverage for your <br />backyard and landscape.</p>

    <p><%= link_to "Book service", new_user_service_path(@current_user.id), class: "btn btn-book-service" %></p>
</div>