body{
	padding-top:75px;	
}
.login-container{ padding:30px 0px 30px 0px;}
.btn-continue{ background:#31ad00; color:#fff; text-transform:uppercase; height:44px; font-weight:600; padding:10px 20px;}
.login-form .form-control{ border:1px solid #a7a7a7; height:62px; border-radius:8px; font-size:18px;}
.login-heading{ font-size:44px; margin-bottom:20px;}
.login-form .links{ font-size:18px;}
.login-slider{ border-bottom:5px solid #31ad00;}
.login-slider .item img{ width:100%; }
.login-slider .item .carousel-caption{ font-size:20px;}
